*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    background:#ffffff;
    color:#333;
}

header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    border-bottom:1px solid #ddd;

}

.subtitle{

    margin-top:8px;

    color:#666;

    font-size:14px;

}

#adminButton{

    font-size:22px;

    border:none;

    background:none;

    cursor:pointer;

}

main{

    display:flex;

    min-height:70vh;

}

aside{

    width:240px;

    padding:20px;

    border-right:1px solid #ddd;

}

#searchBox{

    width:100%;

    padding:10px;

    margin-bottom:20px;

}

aside ul{

    list-style:none;

}

aside li{

    margin:12px 0;

    cursor:pointer;

}

section{

    flex:1;

    padding:30px;

}

.card-area{

    border:2px dashed #ccc;

    border-radius:12px;

    padding:30px;

    margin-bottom:40px;

    color:#888;

}

footer{

    border-top:1px solid #ddd;

    padding:20px;

    display:flex;

    justify-content:center;

    gap:40px;

}

footer a{

    text-decoration:none;

}

@media(max-width:768px){

main{

    flex-direction:column;

}

aside{

    width:100%;

    border-right:none;

    border-bottom:1px solid #ddd;

}

footer{

    flex-direction:column;

    gap:15px;

    text-align:center;

}

}
