<div class="card">

    <a href="work.html">

        <img
            src="assets/images/sample.jpg"
            alt="サンプル作品">

        <div class="card-body">

            <h3 class="card-title">
                夏のまちがいさがし①
            </h3>

            <div class="card-level">
                ★☆☆ 初級
            </div>

            <div class="card-tags">

                <span class="tag">夏</span>

                <span class="tag">間違い探し</span>

            </div>

        </div>

    </a>

</div>
